[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/TryGhost/Ghost-Admin.git
[submodule "content/themes/maytry"]
	path = content/themes/maytry
	url = https://github.com/slont/theme-maytry.git
